<h1>Browse upcoming recruiting events at Duke</h1>

<% if @events.empty? %>
  <p>There are not any events currently in the system.</p>
<% end %>

<% @events.each do |event| %>
	<article>
	  <li>
		  <header>
		    <%= link_to event.title, event_path(event) %>
		  </header>
	  	<%# image_tag @company.image %>
	  </li>
	</article>
<% end %>

<table>
	<tr>
		<th><%= Event.column_names.second.capitalize %></th>
		<th><%= Event.column_names.third.capitalize %></th>
		<th><%= Event.column_names.fourth.capitalize %></th>
		<th><%= Event.column_names[5].capitalize %></th>

	</tr>

<% @events.each do |event| %>
	<tr>
		<td><%= link_to event.title, event_path(event) %></td>
		<td><%= event.location %></td>
		<td><%= event.date %></td>
		<td><%= event.company_id %></td>
	</tr>
<% end %>
</table>

<p><%= link_to 'Back', :back %></p>
