<h1><%= @event.title %></h1>
<h3 class="subheader">Hosted by <%= @company.name %></h3>
<div><%= image_tag @company.logo, size: "125" %></div>
<br/>
<p>Learn more: <%= link_to @company.website, @company.website %></p>

<%= form_for [@event, @comment] do |f| %>
  <p>
    <%= f.text_area :post, placeholder: "Add a comment..." %>
  </p>
  <%= f.submit %>
<% end %>

<ul class="comments">
  <% @event.comments.each do |comment| %>
  	<%# binding.pry %>
    <li><%= "#{comment.user.name} posted: #{comment.post}" %></li>
  <% end %>
</ul>

<br/>
<p><%= link_to "Back to home page", root_path %></p>

