<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/header' %>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container-fluid">
      <div class="row-fluid">
      <%= render partial: 'layouts/sidebar' %>
        <div class="span10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->
    <%= render 'layouts/footer' %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>