<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/header' %>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer class="footer">
        <p>
          <%= mail_to "mecampbell25@gmail.com", "© DukeRecruits 2013" %>
        </p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
